server:
  servlet-path: /api/v1/*
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.xa.DruidXADataSource
    url: jdbc:mysql://localhost:3306/mo-boot?useUnicode=true&characterEncoding=utf-8&autoReconnect=true
    username: root
    password: 123456

mybatis:
  config-location: "classpath:/mybatis-config.xml"
  type-aliases-package: me.puras.boot.domain
  mapper-locations: ["classpath:/me/puras/boot/persistence/**/*Mapper.xml", "classpath:/me/puras/common/persistence/**/*Mapper.xml"]